<div class="form-group form-inline">
  <input type="text" placeholder="Short answer text" class="form-control" disabled/>
  <%= fc.hidden_field :content, value: 'SHORT_ANSWER_INVISIBLE_LABEL:' %>
</div>
