<h1>New Survey</h1>

<div class="card">
  <div class="card-block">
    <%= form_for @form do |f| %>
      <%= render "errors", object: f.object %>
      <div class="form-group">
        <%= f.text_field :title, placeholder: "Survey title", class: 'form-control' %>
      </div>
      <%= f.button :submit, class: 'btn btn-secondary'%>
    <% end %>
  </div>
</div>
